.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background-color:white;
    width: 100%;
    position:sticky;
    z-index:1000;
    top:0;
    box-shadow:0px 5px 8px -9px rgba(0,0,0,0.5);
}

.header_logo>img
{
   height:60px;
   margin-right:20px; 
   
}
.icons_wrapper
{
   display: flex;
   margin-right:20px; 
}
.icon > .MuiSvgIcon-root 
{
    color:#1b368f;
    cursor: pointer;
    font-size: xx-large;
    padding: 5px 20px;
}   
.icon > .MuiSvgIcon-root:hover
{
        color:#1b368f;
        border-radius:10px;
        background-color:lightgray;
}

.search
{
    display: flex;
    align-items: center;
    border:1px solid lightgray;
    padding:5px;
    border-radius:5px;

}
.search >input 
{
    background-color: transparent;
    outline:none;
    border:none;
    color:rgb(49,49,49);   
}
.search > .MuiSvgIcon-root
{
    color:grey;   
}
.others
{
    display: flex;
    align-items: center;
    margin-left:25px;
}

.others > .avatar
{
    cursor: pointer;
}

.others > .MuiSvgIcon-root {
    font-size: xx-large;
    color:grey;
    margin-left:25px;
    cursor:pointer;
}

.others > .MuiSvgIcon-root:hover
{
    color:#1b368f;
}

.others > .MuiButton-root {
    color:white;
    margin-left:25px;
    text-transform: inherit;
    background:#1b368f;
    border-radius:20px;
    cursor:pointer;
}
.others > .MuiButton-root:hover
{
    background-color: #1b368f;
    color:white;
}

.modal__title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
}

.modal__title>h5 {
    color: gray;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 30px;
}

.modal__title>h5:hover {
    color: #16171a;
}

.modal__info {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.modal__info>p {
    margin-left: 10px;
    font-size: small;
    color: gray;
}

.modal__info>.modal__select>select {
    color: rgb(98, 98, 98);
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    border-radius: 33px;
}

.modal__field {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    flex: 1;
}

.modal__field>.modal__fieldLink {
    color: gray;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.modal__field>.modal__fieldLink>.modal__link {
    flex: 1;
    border: none;
    outline: none;
    margin-left: 5px;
}

.modal__buttons {
    display: flex;
    align-items: center;
    margin-top: 260px;
    margin-right: -20px;
    border-top: 1px solid lightgray;
}

.modal__buttons>.cancel {
    margin-left: auto;
    border: none;
    margin-top: 5px;
    outline: none;
    color: gray;
    font-weight: 500;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
}

.modal__buttons>.add {
    border: none;
    outline: none;
    margin-top: 5px;
    background-color:#1b368f;
    color: white;
    font-weight: 700;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
}