.qHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background-color: white;
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.5);
}

.qHeader__logo > img {
    height: 60px;
    margin-right: 20px;
}

.qHeader__icons {
    display: flex;
    margin-right: 20px;
}

.qHeader__icon > .MuiSvgIcon-root {
    color: gray;
    cursor: pointer;
    font-size: xx-large;
    padding: 5px 20px;
}

.qHeader__icon > .MuiSvgIcon-root:hover {
    color: #1b368f;
    border-radius: 10px;
    background-color: lightgray;
}

.qHeader__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
}

.qHeader__input > input {
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(49,49,49);
}

.qHeader__input > .MuiSvgIcon-root {
    color: gray;
}

.qHeader__Rem {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.qHeader__Rem > .qHeader__avatar {
    cursor: pointer;
}

.qHeader__Rem > .MuiSvgIcon-root {
    font-size: xx-large;
    color: gray;
    margin-left: 25px;
    cursor: pointer;
}

.qHeader__Rem > .MuiSvgIcon-root:hover {
    color: #1b368f;
}

.qHeader__Rem > .MuiButton-root {
    color: white;
    margin-left: 25px;
    text-transform: inherit;
    background-color: #1b368f;
    border-radius: 20px;
    cursor: pointer;
}

.qHeader__Rem > .MuiButton-root:hover {
    color: white;
    background-color: #3052c0;
}

.modal__title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(187,187,187,0.5);
}

.modal__title > h5 {
    color: gray;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 30px;
}

.modal__title > h5:hover {
    color: #3052c0;
}

.modal__info {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.modal__info > p{
    margin-left: 10px;
    font-size: small;
    color: gray;
}

.modal__info > .modal__scope {
    display: flex;
    align-items: center;
    color: rgb(98,98,98);
    padding: 5px;
    margin-left: 10px;
    background-color: rgb(230,230,230);;
    border-radius: 33px;
    cursor: pointer;
}

.modal__field {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    flex: 1;
}

.modal__field > .modal__fieldLink {
    color: gray;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.modal__field > .modal__fieldLink > input {
    flex: 1;
    border: none;
    outline: none;
    margin-left: 5px;
}

.modal__buttons {
    display: flex;
    align-items: center;
    margin-top: 260px;
    margin-right: -20px;
    border-top: 1px solid lightgray;
}

.modal__buttons > .close {
    margin-left: auto;
    border: none;
    margin-top: 5px;
    outline: none;
    color: gray;
    font-weight: 500;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
}

.modal__buttons > .add {
    border: none;
    outline: none;
    margin-top: 5px;
    background-color: rgb(0,64,255);
    color: white;
    font-weight: 700;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
}
