.sidebar {
    margin-right: 10px;
    flex: 0.2;
}

.sidebaroptions {
    display: flex;
    flex-direction: column;
}

.sidebaroption {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebaroption:hover {
    background-color: lightgray;
    border-radius: 5px;
}

.sidebaroption>img {
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
}

.sidebaroption>p {
    margin-left: 10px;
    color: gray;
    font-weight: 400;
}
