.options 
{
    display:flex;
    flex-direction: column;
}
.option
{
    display:flex;
    align-items: center;
    padding:10px;
    cursor:pointer;
}
.option:hover
{
    background-color: lightgray;
    border-radius:5px;
}
.option > img
{
    height:30px;
    margin-left:20px;
    border-radius:5px;
}
.option > p {
    color:gray;
    font-weight: 400;
    margin-left:10px;
}

.option > .MuiSvgIcon-root {
    color:gray;
    font-size:medium;
    margin-left:20px;
}