.widget {
    flex: 0.2 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    max-height: 85vh;
    background-color: white;
}

.widget__header {
    border-bottom: 1px solid lightgray;
}

.widget__header>h5 {
    padding: 10px;
    color: rgb(80, 80, 80);
    font-size: 15px;
    letter-spacing: 1.1px;
}

.widget__contents {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.widget__content {
    margin: 5px;
    display: flex;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.widget__content>img {
    height: 30px;
    border-radius: 5px;
}

.widget__contentTitle {
    margin-left: 10px;
}

.widget__contentTitle>h5 {
    color: rgb(70, 68, 68);
}

.widget__contentTitle>p {
    color: gray;
    font-size: small;
}
