.Users__content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.wrapper {
    display:flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 2px;
    cursor:pointer;
}

.wrapper:hover {
    border:1px solid lightgray;
}

.Cards {
    /* display: flex;
    flex-direction: column; */
    font-family: sans-serif;
    text-align: center;
  }

.UsersBox
{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}
